* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}

header {
  background-color: #121212;
  color: #ffffff;
  width: 100vw;
  height: 60px;
  padding: 10px;
}
.container {
  width: 75%;
  margin: auto;
}
h1 {
  text-align: center;
}
